*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 500px;
    border-radius: 5px;
    border: solid 1px black;
}
header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
div{
    margin-bottom: 20px;
    margin-left: 10px;
}
textarea{
    vertical-align: top;
}
button{
    background-color: rgb(20, 90, 220);
    color: white;
}
button:hover{
    background-color: rgb(43, 221, 245);
    color: black;
}

